@import "tailwindcss";
@import "tw-animate-css";

:root {
  --cor-marrom-escuro: #917864;
  --cor-marrom-claro: #b09f85;
  --cor-bege-claro: #ebe2d1;
  --cor-bege-quente: #dcc7ac;
  --cor-verde-escuro: #27593b;

  --cor-cinza-claro: #f5f5f5;
  --cor-preto: #000000;
  --cor-branco: #ffffff;
}